github "Swinject/Swinject" ~> 2.2.0
github "Swinject/SwinjectStoryboard" ~> 1.1.2

github "ReactiveX/RxSwift" ~> 4.1.2
github "Moya/Moya" ~> 11.0.0

github "realm/realm-cocoa" ~> 3.1.1

github "danielgindi/Charts" ~> 3.0.5
github "danielgindi/ChartsRealm" ~> 3.0.5

github "yaslab/CSV.swift" ~> 2.1.0
